.button {
  -fx-width: 220px;
  -fx-height: 50px;
  -fx-padding: 10px 25px 10px 25px;
  -fx-font-family: Arial;
  -fx-font-size: 12px;
  -fx-text-decoration: none;
  -fx-color: #ffffff;
  -fx-background-color: #98ba3f;
}

.button:hover {
  -fx-background-color: #245191;
}

.button:active {
    -fx-font-size:12px;
}