.button {
  width: 250px;
  padding: 10px 25px 10px 25px;
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #98ba3f;
}

.button:hover {
  background-color: #245191;
}

.button:active {
    -fx-font-size:19px;
}